{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4">
                <h1 class="text-center">Créer un lieu</h1>
            </div>
        </div>
    </div>


    {# Affichage form create lieu détaillé #}

    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center mt-5">
                {{ form_start(lieuForm) }}
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(lieuForm.nom) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (lieuForm.nom) }}
                                    {{ form_errors (lieuForm.nom) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    <label for="rechercheVille">Ville :</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" id="rechercheVille">
                                </div>
                            </div>
                            <div class="row justify-content-center mt-1">
                                <div class="col-lg-4">
                                    <label for="villeSelect">Choisir la ville :</label>
                                </div>
                                <div class="col-lg-8">
                                    <select name="villeSelect" id="villeSelect">
                                        <!-- zone affichage resultats requete AJAX -->
                                    </select>
                                </div>


                                <!-- AJAX pour la recherche de ville -->
                                <script> const rechercheVilleUrl = "{{ path('lieu_rechercheVille') }}" </script>
                                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                <script>
                                    let rechercheSaisi = document.getElementById("rechercheVille");
                                    rechercheSaisi.addEventListener("keyup", envoyerAjaxRequest);

                                    function envoyerAjaxRequest() {
                                        let saisi = rechercheSaisi.value;
                                        axios.get(rechercheVilleUrl, {
                                            params: {"saisi": saisi}
                                        })
                                            .then(function (response) {
                                                // console.log(response.data);
                                                let selectResultats = document.getElementById("villeSelect");
                                                selectResultats.innerHTML = response.data;
                                            });
                                    }
                                </script>
                                <!-- fin: AJAX pour la recherche de ville -->
                            </div>
                    </div>

                    <div class="list-group-item">
                        <div class="mt-1 mb-4">
                            <div class="row justify-content-ceter mt-1">
                                <div class=" col-4">
                                    <label for="cpSelect">Code Postal :</label>
                                </div>
                                <div class=" col-8">
                                    <div name="cpSelect" id="cpSelect">

                                        <!-- zone affichage resultats requete AJAX -->
                                    </div>
                                </div>


                                <div class=" col-4">
                                    <label for="latSelect">Latitude :</label>
                                </div>
                                <div class=" col-8">
                                    <input name="latSelect" id="latSelect">

                                    <!-- zone affichage resultats requete AJAX -->
                                    </input>
                                </div>
                                <div class=" col-4">
                                    <label for="lonSelect">Longitude :</label>
                                </div>
                                <div class=" col-8">
                                    <input name="lonSelect" id="lonSelect">

                                    <!-- zone affichage resultats requete AJAX -->
                                    </input>
                                </div>


                                <!-- AJAX pour la recherche info -->
                                <script> const rechercheCPSelonVilleURL = "{{ path('lieu_rechercheCP') }}"</script>
                                <script> const rechercheLonSelonVilleURL = "{{ path('lieu_rechercheLon') }}"</script>
                                <script> const rechercheLatSelonVilleURL = "{{ path('lieu_rechercheLat') }}"</script>
                                {# <script> const rechercheInfoVilleURL = "{{ path('lieu_rechercheInfoVille') }}"</script> #}


                                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                <script>

                                    // const axios = require("../../public/build/vendors-node_modules_symfony_stimulus-bridge_dist_index_js-node_modules_core-js_modules_es_ob-7db861");
                                    let rechercheCP = document.getElementById("villeSelect");
                                    // rechercheSaisi.addEventListener('keyup', envoyerAjaxRequest);
                                    rechercheCP.addEventListener('change', envoyerAjaxRequest);

                                    function envoyerAjaxRequest() {
                                        let ville = rechercheCP.value;
                                        // console.log("ville");

                                        axios.get(rechercheCPSelonVilleURL, {
                                            params: {"ville": ville}
                                        })
                                            .then(function (response) {
                                                // console.log(response.data);
                                                let resultatsCPx = document.getElementById("cpSelect");
                                                resultatsCPx.innerHTML = response.data;
                                                // console.log(resultatsCPx.innerHTML);
                                            });

                                        // axios.get(rechercheLonSelonVilleURL, {
                                        //     params: {"ville": ville}
                                        // })
                                        //     .then(function (response) {
                                        //         // console.log(response.data);
                                        //         let resultatsCPx = document.getElementById("lonSelect");
                                        //         resultatsCPx.innerHTML = response.data;
                                        //         // console.log(resultatsCPx.innerHTML);
                                        //     });
                                        //
                                        // axios.get(rechercheLatSelonVilleURL, {
                                        //     params: {"ville": ville}
                                        // })
                                        //     .then(function (response) {
                                        //         // console.log(response.data);
                                        //         let resultatsCPx = document.getElementById("latSelect");
                                        //         resultatsCPx.innerHTML = response.data;
                                        //         // console.log(resultatsCPx.innerHTML);
                                        //     });

                                    }
                                </script>
                                <!-- fin: AJAX pour la recherche de lieu -->
                            </div>
                        </div>

                    </div>
                    <div class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(lieuForm.rue) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (lieuForm.rue) }}
                                    {{ form_errors (lieuForm.rue) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="row justify-content-center mt-5">
                            <div class="col-12 col-sm-10 col-md-8 col-lg-4">
                                <div class="row justify-content-center">
                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                        <button type="submit" class="btn btn-outline-primary">Valider</button>

                                        <button class="btn btn-outline-primary" onclick="goBack( {{ page }} )">Annuler
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    {{ form_end(lieuForm) }}

{% endblock %}

{% block footer %}

{% endblock %}
