{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-evenly mt-3 mb-6 col-12 ">
            <div class="d-inline text-center mb-3">
                <h1 class="font-weight-normal ">Créer un lieu</h1>
            </div>

            {# Affichage form create lieu détaillé #}

            <div class="col-4">
                <div>
                    {{ form_start(lieuForm) }}
                    <div class="mb-3">
                        <div class="form-label">{{ form_label(lieuForm.nom) }}</div>
                        {{ form_widget (lieuForm.nom,{'attr' : {'class': 'form-control'}}) }}
                        {{ form_errors (lieuForm.nom) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="rechercheVille">Recherche ville :</label>
                        <input class="form-control" type="text" id="rechercheVille">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="villeSelect">Choisir la ville :</label>
                        <select class="form-select" name="villeSelect" id="villeSelect">
                            <!-- zone affichage resultats requete AJAX -->
                        </select>
                    </div>

                    <!-- AJAX pour la recherche de ville -->
                    <script> const rechercheVilleUrl = "{{ path('lieu_rechercheVille') }}" </script>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script>
                        let rechercheSaisi = document.getElementById("rechercheVille");
                        rechercheSaisi.addEventListener("keyup", envoyerAjaxRequest);

                        function envoyerAjaxRequest() {
                            let saisi = rechercheSaisi.value;
                            axios.get(rechercheVilleUrl, {
                                params: {"saisi": saisi}
                            })
                                .then(function (response) {
                                    // console.log(response.data);
                                    let selectResultats = document.getElementById("villeSelect");
                                    selectResultats.innerHTML = response.data;
                                });
                        }
                    </script>
                    <!-- fin: AJAX pour la recherche de ville -->

                    <div id="villeInfo">
                        <div class="mb-3">
                            <label class="form-label" for="cpSelect">Code Postal :</label>
                            <input class="form-control" id="cpSelect">
                            <!-- zone affichage resultats requete AJAX -->

                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="latSelect">Latitude : </label><br>
                            <input class="form-control" id="latSelect">
                            <!-- zone affichage resultats requete AJAX -->

                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lonSelect">Longitude :</label>
                            <input class="form-control" id="lonSelect">
                            <!-- zone affichage resultats requete AJAX -->

                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">{{ form_label(lieuForm.rue) }}</div>
                        {{ form_widget (lieuForm.rue,{'attr' : {'class': 'form-control'}}) }}
                        {{ form_errors (lieuForm.rue) }}
                    </div>


                    <!-- AJAX pour la recherche info -->
                    <script> const rechercheInfoSelonVilleURL = "{{ path('lieu_rechercheInfo') }}"</script>
                    {# <script> const rechercheLonSelonVilleURL = "{{ path('lieu_rechercheLon') }}"</script> #}
                    {# <script> const rechercheLatSelonVilleURL = "{{ path('lieu_rechercheLat') }}"</script> #}
                    {# <script> const rechercheInfoVilleURL = "{{ path('lieu_rechercheInfoVille') }}"</script> #}


                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script>
                        let rechercheInfo = document.getElementById("villeSelect");

                        // rechercheInfo.addEventListener('load', envoyerAjaxRequest);
                        rechercheInfo.addEventListener('change', envoyerAjaxRequest);

                        function envoyerAjaxRequest() {
                            let ville = rechercheInfo.value;
                            console.log("ville num :" + ville);

                            axios.get(rechercheInfoSelonVilleURL, {
                                params: {"ville": ville}
                            })
                                .then(function (response) {
                                    let resultatsInfo = document.getElementById("villeInfo");
                                    resultatsInfo.innerHTML = response.data;
                                });


                        }
                    </script>
                    <!-- fin: AJAX pour la recherche de info -->
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                </div>
                <div class="row justify-content-around  ">
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-secondary" onclick="goBack( {{ page }} )">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(lieuForm) }}

{% endblock %}

{% block footer %}

{% endblock %}



{# script recherche CP #}
                {# <script> const rechercheCPSelonVilleURL = "{{ path('lieu_rechercheCP') }}"</script> #}
                {# <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> #}
                {# <script> #}
                {# let rechercheCP = document.getElementById("villeSelect"); #}
                {# rechercheCP.addEventListener('change', envoyerAjaxRequest); #}
                {# function envoyerAjaxRequest() { #}
                {# let ville = rechercheCP.value; #}
                {# console.log(ville); #}

                {# axios.get(rechercheCPSelonVilleURL, { #}
                {# params: {"ville": ville} #}
                {# }) #}
                {# .then(function (response) { #}
                {# console.log(response.data); #}
                {# let resultatsCPx = document.getElementById("cpSelect"); #}
                {# resultatsCPx.innerHTML = response.data; #}
                {# }); #}
                {# } #}
                {# </script> #}


{# script axios #}
                {# // axios.get(rechercheLonSelonVilleURL, { #}
                {# //     params: {"ville": ville} #}
                {# // }) #}
                {# //     .then(function (response) { #}
                {# //         let resultatsCPx = document.getElementById("lonSelect"); #}
                {# //         resultatsCPx.innerHTML = response.data; #}
                {# //     }); #}
                {# // #}
                {# // axios.get(rechercheLatSelonVilleURL, { #}
                {# //     params: {"ville": ville} #}
                {# // }) #}
                {# //     .then(function (response) { #}
                {# //         let resultatsCPx = document.getElementById("latSelect"); #}
                {# //         resultatsCPx.innerHTML = response.data; #}
                {# //     }); #}