{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4">

            {% for flashError in app.flashes('warning') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h2 class="mb-3 font-weight-normal">Inscription nouvel utilisateur</h2>

            {{ form_start(registrationForm) }}
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.pseudo) }}</div>
                    {{ form_widget(registrationForm.pseudo, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.pseudo) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.nom) }}</div>
                    {{ form_widget(registrationForm.nom, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.nom) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.prenom) }}</div>
                    {{ form_widget(registrationForm.prenom, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.prenom) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.telephone) }}</div>
                    {{ form_widget(registrationForm.telephone, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.telephone) }}
                </div>
            <div class="mb-3">
                <div class="form-label">{{ form_label(registrationForm.site) }}</div>
                {{ form_widget(registrationForm.site, {'attr' : {
                    'class': 'form-select',
                    'selected' : '',
                }}) }}
                {{ form_errors(registrationForm.site) }}
            </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.email) }}</div>
                    {{ form_widget(registrationForm.email, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}</div>
                    {{ form_widget(registrationForm.plainPassword, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="form-check mb-3">
                    {{ form_widget(registrationForm.agreeTerms, {'attr' : {'class': 'form-check-input'}}) }}
                    <div class="form-check-label">{{ form_label(registrationForm.agreeTerms, 'Accepter les termes') }}</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary mb-5">Inscrire</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
</div>
{% endblock %}
