
<!-- Remplace le code Html du details du lieu -->

<div class="card mt-4">
    <div class="body-card m-2">
        Rue : {{ lieu.rue }}<br>
        Ville : {{ lieu.ville.nom }}<br>
        Code Postal : {{ lieu.ville.codePostal }}<br>
        {% if lieu.latitude and lieu.longitude %}
            latitude : {{ lieu.latitude }}<br>
            longitude : {{ lieu.longitude }}<br>
        {% else %}
            latitude : inconnu<br>
            longitude : inconnu<br>
        {% endif %}
    </div>
</div>