{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{# //la vie est belle #}
{% block body %}


    {# Affichage form create sortie détaillé #}
    <div class="container">
        <div class="row justify-content-evenly mt-3 mb-6 col-12 ">
            <div class="d-inline text-center mb-3">
                <h1 class="font-weight-normal ">Créer une sortie</h1>
                <h6>(Site école : {{ app.user.site.nom }})</h6>
            </div>
            <!-- 1ere colonne -->
            <div class="col-4">
                {{ form_start(sortieForm) }}
                <div class="mb-3">
                    <div class="form-label">{{ form_label(sortieForm.nom) }}</div>
                    {{ form_widget (sortieForm.nom, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.nom) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(sortieForm.photoSortie, 'Photo de sortie') }}</div>
                    {{ form_widget(sortieForm.photoSortie, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.photoSortie) }}
                </div>
                <div class="mb-3">
                    <div class="form-label">{{ form_label(sortieForm.dateHeureDebut) }}</div>
                    {{ form_widget (sortieForm.dateHeureDebut, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.dateHeureDebut) }}
                </div>
                <div class="mb-4">
                    <div class="form-label">{{ form_label(sortieForm.dateLimiteInscription) }}</div>
                    {{ form_widget (sortieForm.dateLimiteInscription, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.dateLimiteInscription) }}
                </div>
                <div class="mb-4">
                    <div class="form-label">{{ form_label(sortieForm.nbInscriptionMax) }}</div>
                    {{ form_widget (sortieForm.nbInscriptionMax, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.nbInscriptionMax) }}
                </div>
                <div class="mb-4">
                    <div class="form-label">{{ form_label(sortieForm.duree) }}</div>
                    <div class="row">
                        <div class="col-6">{{ form_widget (sortieForm.duree, {'attr' : {'class': 'form-control'}}) }}</div>
                        <div class="col-2">minutes</div>
                    </div>
                    {{ form_errors (sortieForm.duree) }}
                </div>
            </div>
            <!-- 2eme colonne -->
            <div class="col-4">
                <div class="mb-4">
                    <div class="form-label">{{ form_label(sortieForm.infosSortie) }}</div>
                    {{ form_widget (sortieForm.infosSortie, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors (sortieForm.infosSortie) }}
                </div>
                <div class="mb-4">
                    <label class="form-label" for="rechercheVille">Recherche ville :</label>
                    <input class="form-control" type="text" id="rechercheVille">
                </div>
                <div class="mb-4">
                    <label class="form-label" for="villeSelect">Choisir la ville :</label>
                    <select class="form-select" name="villeSelect" id="villeSelect">
                        <!-- zone affichage resultats requete AJAX -->
                    </select>
                </div>
                <!-- AJAX pour la recherche de ville -->
                <script> const rechercheVilleUrl = "{{ path('lieu_rechercheVille') }}" </script>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    let rechercheSaisi = document.getElementById("rechercheVille");
                    rechercheSaisi.addEventListener("keyup", envoyerAjaxRequest);

                    function envoyerAjaxRequest() {
                        let saisi = rechercheSaisi.value;
                        axios.get(rechercheVilleUrl, {
                            params: {"saisi": saisi}
                        })
                            .then(function (response) {
                                console.log(response.data);
                                let selectResultats = document.getElementById("villeSelect");
                                selectResultats.innerHTML = response.data;
                            });
                    }
                </script>
                <!-- fin: AJAX pour la recherche de ville -->
                <div class="mb-4">
                    <div class="row justify-content-between ms-1">
                        <div class="row col-8">
                            <label class="form-label" for="lieuxSelect">Choisir le lieu :</label>
                            <select class="form-select" name="lieuxSelect" id="lieuxSelect">
                                <!-- zone affichage resultats requete AJAX -->
                            </select>
                        </div>
                        <!-- AJAX pour la recherche de lieu -->
                        <script> const rechercheLieuSelonVilleURL = "{{ path('lieu_recherche') }}"</script>
                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                        <script>
                            let rechercheLieu = document.getElementById("villeSelect");
                            rechercheLieu.addEventListener('change', envoyerAjaxRequest);

                            function envoyerAjaxRequest() {
                                let ville = rechercheLieu.value;
                                console.log(ville);
                                axios.get(rechercheLieuSelonVilleURL, {
                                    params: {"ville": ville}
                                })
                                    .then(function (response) {
                                        console.log(response.data);
                                        let resultatsLieux = document.getElementById("lieuxSelect");
                                        resultatsLieux.innerHTML = response.data;
                                    });
                            }
                        </script>
                        <!-- fin: AJAX pour la recherche de lieu -->
                        <div class="col-2 me-4">
                            <button type="button" class="btn btn-outline-light">
                                <a href="{{ path('lieu_create') }}">
                                    <img src="{{ asset('img/icon/ajouter_lieu.png') }}" alt="bouton ajout lieu"
                                         height="50px" width="50px">
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="coordonneesLieu">
                    <!-- div id="coordonneesLieu" sera remplacé par ajax_detailsLieu.html.twig -->
                    <div class="card mt-4">
                        <div class="body-card m-2">
                            Rue :<br>
                            Ville :<br>
                            Code Postal :<br>
                            latitude :<br>
                            longitude :<br>
                        </div>
                    </div>
                </div>
                <!-- AJAX pour le detail du lieu -->
                <script> const detailsLieuURL = "{{ path('lieu_detailsLieu') }}"</script>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    let selectLieu = document.getElementById("lieuxSelect");
                    selectLieu.addEventListener('change', envoyerAjaxRequest);

                    function envoyerAjaxRequest() {
                        let lieu = selectLieu.value;
                        console.log(lieu);
                        axios.get(detailsLieuURL, {
                            params: {"lieu": lieu}
                        })
                            .then(function (response) {
                                console.log(response.data);
                                let divCoordonneesLieu = document.getElementById("coordonneesLieu");
                                divCoordonneesLieu.innerHTML = response.data;
                            });
                    }
                </script>
                <!-- fin: AJAX pour le detail du lieu -->
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
            </div>
            <div class="col-2">
                <a class="btn btn-secondary" href="{{ path ('sortie_recherche') }}">Annuler</a>
            </div>
        </div>
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}
