{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{# //la vie est belle #}
{% block body %}

<!-- AXIOS en ligne -->


    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4">
                <h1 class="text-center">Créer une sortie</h1>
            </div>
        </div>
    </div>


    {# Affichage form create sortie détaillé #}
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center mt-5">
                {{ form_start(sortieForm) }}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.nom) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.nom) }}
                                    {{ form_errors (sortieForm.nom) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    <div class="form-label">{{ form_label(sortieForm.photoSortie, 'Photo de sortie') }}</div>

                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget(sortieForm.photoSortie, {'attr' : {'class': 'form-control'}}) }}
                                    {{ form_errors (sortieForm.photoSortie) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.dateHeureDebut) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.dateHeureDebut) }}
                                    {{ form_errors (sortieForm.dateHeureDebut) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.dateLimiteInscription) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.dateLimiteInscription) }}
                                    {{ form_errors (sortieForm.dateLimiteInscription) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.nbInscriptionMax) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.nbInscriptionMax) }}
                                    {{ form_errors (sortieForm.nbInscriptionMax) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.duree) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.duree) }} minutes
                                    {{ form_errors (sortieForm.duree) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-4">
                                    {{ form_label(sortieForm.infosSortie) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.infosSortie) }}
                                    {{ form_errors (sortieForm.infosSortie) }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center mt-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-start mt-4">
                                <div class="col">
                                    Site école : {{ app.user.site.nom }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">

                            <div>
                                Ville :
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label for="rechercheVille">Recherche ville :</label>
                                    <input type="text" id="rechercheVille">
                                </div>
                                <div class="col-7">
                                    <label for="villeSelect">Choisir la ville :</label>
                                    <select name="villeSelect" id="villeSelect">
                                        <!-- zone affichage resultats requete AJAX -->
                                    </select>
                                </div>
                                <!-- AJAX pour la recherche de ville -->
                                <script> const rechercheVilleUrl = "{{ path('sortie_rechercheVille') }}" </script>
                                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                <script>
                                    let rechercheSaisi = document.getElementById("rechercheVille");
                                    rechercheSaisi.addEventListener("keyup", envoyerAjaxRequest);

                                    function envoyerAjaxRequest(){
                                        let saisi = rechercheSaisi.value;
                                        axios.get(rechercheVilleUrl, {
                                            params: { "saisi": saisi }
                                        })
                                            .then(function (response){
                                                console.log(response.data);
                                                let selectResultats = document.getElementById("villeSelect");
                                                selectResultats.innerHTML = response.data;
                                            });
                                    }
                                </script>
                                <!-- AJAX pour la recherche de ville -->
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-4">
                                <div class="row align-items-center">
                                    <label for="lieuxSelect">Choisir le lieu :</label>
                                    <select name="lieuxSelect" id="lieuxSelect">
                                        <!-- zone affichage resultats requete AJAX -->
                                    </select>
                                    <!-- AJAX pour la recherche de lieu -->
                                    <script> const rechercheLieuSelonVilleURL = "{{ path('sortie_rechercheLieu') }}"</script>
                                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                                    <script>
                                        let rechercheLieu = document.getElementById("villeSelect");
                                        rechercheLieu.addEventListener('click', envoyerAjaxRequest);

                                        function envoyerAjaxRequest(){
                                            let ville = rechercheLieu.value;
                                            console.log(ville);
                                            axios.get(rechercheLieuSelonVilleURL, {
                                                params: { "ville": ville }
                                            })
                                                .then(function (response){
                                                    console.log(response.data);
                                                    let resultatsLieux = document.getElementById("lieuxSelect");
                                                    resultatsLieux.innerHTML = response.data;
                                                });
                                        }
                                    </script>
                                    <!-- AJAX pour la recherche de lieu -->

                                <div class="col-lg-2">
                                    {{ form_label(sortieForm.lieu) }}
                                </div>
                                <div class="col-lg-8">
                                    {{ form_widget (sortieForm.lieu) }}
                                    {{ form_errors (sortieForm.lieu) }}
                                </div>
                                    <div class="col-lg-2">
                                        <button type="button" class="btn btn-outline-light"><a href="{{ path('lieu_create') }}"><img src="{{ asset('img/icon/ajouter_lieu.png') }}" alt="bouton ajout lieu" height="50px" width="50px"></a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">

                            <div class="col">
                                Rue :
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">

                            <div class="col">
                                Code Postal :
                            </div>

                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-2">
                                    {{ form_label(sortieForm.latitude) }}
                                </div>
                                <div class="col-lg-10">
                                    {{ form_widget (sortieForm.latitude) }}
                                    {{ form_errors (sortieForm.latitude) }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-2">
                                    {{ form_label(sortieForm.longitude) }}
                                </div>
                                <div class="col-lg-10">
                                    {{ form_widget (sortieForm.longitude) }}
                                    {{ form_errors (sortieForm.longitude) }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <div class="row justify-content-center mt-4 pb-5">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" class="btn btn-outline-primary">Enregistrer</button>

                    <a href="{{ path ('sortie_recherche') }}" class="btn btn-outline-primary">Annuler</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block footer %}

{% endblock %}