{% extends 'base.html.twig' %}

{% block title %}{{ sorties.nom }}{% endblock %}

{% block body %}


        <div class="row justify-content-center mt-3">
            <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <h1 class="text-center">{{ sorties.nom }}{% if sorties.etat.libelle == 'Annulée' %} (Annulée) {% endif %}</h1>
            </div>
        </div>

<div class="row justify-content-center mt-5">
    <div class="col-lg-3 col-md-5 col-sm-6">
        <div class="card">
            {% if sorties.photo %}
                <img class="img-thumbnail" src="{{ asset('img/photosSorties/' ~ sorties.Photo) }}" alt="Photo de la sortie">
            {% else %}
                <p>Pas de photo</p>
            {% endif %}
        </div>
    </div>
</div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center mt-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Nom de la sortie :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.nom }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Date et heure :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.dateHeureDebut | format_datetime('full', 'medium', locale='fr') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Date limite d'inscription :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.dateLimiteInscription | format_date('full', locale='fr') }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Nombre de places :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.nbInscriptionMax }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Durée :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.duree }} minutes
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Description et infos :
                                </div>
                                <div class="col-lg-6">
                                    {{ sorties.infosSortie }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-12 col-sm-10 col-md-8 col-lg-4">
            <div class="row justify-content-center mt-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Site école :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.site.nom }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Lieu :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.lieu.nom }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Rue :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.lieu.rue }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Code Postal :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.lieu.ville.codePostal }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Latitude :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.lieu.latitude }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Longitude :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.lieu.longitude }}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if sorties.raisonAnnulation %}
                    <li class="list-group-item bg-danger">
                        <div class="mb-4">
                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-5">
                                    Raison Annulation :
                                </div>
                                <div class="col-lg-7">
                                    {{ sorties.raisonAnnulation }}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-start mt-5">
            <h5>Liste des participants inscrits : </h5>
        </div>


        <div class="row justify-content-between mt-3">

            <div class="col-lg-4">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped table-bordered table-sm">

                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for participant in sorties.participants %}

                            <tr>
                                <td>
                                    <a href="{{ path('user_profilUtilisateur', {'id' : participant.id } ) }}">{{ participant.pseudo }}
                                </td>
                                <td>{{ participant.prenom }} {{ participant.nom }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td scope="row">Pas de participants !</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="btn-group" role="group" aria-label="Basic outlined example">

                    {% if (sorties.etat.libelle == 'Ouverte') and (app.user not in sorties.participants) %}
                    <a href="{{ path('sortie_inscription', {'id' : sorties.id}) }}" class="btn btn-outline-primary" >S'inscrire</a>

                    {% endif %}

                    {% if app.user in sorties.participants %}
                       <a href="{{ path('sortie_desistement', {'id' : sorties.id}) }}" class="btn btn-outline-primary" >Se desister</a>

                    {% endif %}

                    {% if sorties.organisateur == app.user or is_granted("ROLE_ADMIN")%}
                        {% if sorties.etat.libelle == 'Créée' %}
                   <a href="{{ path('sortie_publier', {'id' : sorties.id}) }}" class="btn btn-outline-primary">Publier
                            la sortie</a>

                            {% endif %}

                    {% if sorties.etat.libelle == 'Créée' or sorties.etat.libelle == 'Ouverte' or sorties.etat.libelle == 'Cloturé' or is_granted("ROLE_ADMIN")%}
                        {% if sorties.etat.libelle != 'Annulée'%}
                         <a class="btn btn-outline-primary" href="{{ path('sortie_annuler', {'id' : sorties.id}) }}">Annuler
                                la sortie</a>

                        {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block footer %}

{% endblock %}

