{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container mt-3 rounded no-padding">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <strong>Filtrer les sorties</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!-- Début du contenaire formulaire -->
                        <div class="row justify-content-center">
                            {{ form_start(rechercheForm) }}
                            <div class="container row m-1 justify-content-around">
                                <!-- colonne 1 -->
                                <div class="col-10 col-sm-5 justify-content-center">
                                    <div class="mb-2 col-11  row ">
                                        <div class="input ">{{ form_label(rechercheForm.site) }}</div>
                                        <div class="col-sm-10">{{ form_widget(rechercheForm.site, {'attr' : {'class': 'form-select'}}) }}</div>
                                    </div>
                                    <div class="mb-2 row">
                                        <div class="form-label ">{{ form_label(rechercheForm.nom) }}</div>
                                        <div class="col-sm-10">{{ form_widget(rechercheForm.nom, {'attr' : {'class': 'form-control'}}) }}</div>
                                    </div>

                                    <div class="mb-2 row ">
                                        <div class="col-sm-5 col-form-label ">
                                            {{ form_label(rechercheForm.dateMin) }}{{ form_widget(rechercheForm.dateMin, {'attr' : {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-5 col-form-label ">
                                            {{ form_label(rechercheForm.dateMax) }} {{ form_widget(rechercheForm.dateMax, {'attr' : {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- colonne 2 -->
                                <div class="form-check col-10 col-sm-5 justify-content-center mt-3">
                                    <div class="mb-2 col-10">
                                        {{ form_widget(rechercheForm.organisateur, {'attr' : {
                                            'class': 'form-check-input',
                                        }}) }}
                                        <div class="form-label">{{ form_label(rechercheForm.organisateur) }}</div>
                                    </div>
                                    <div class="mb-2">
                                        {{ form_widget(rechercheForm.inscrit, {'attr' : {'class': 'form-check-input'}}) }}
                                        <div class="form-label">{{ form_label(rechercheForm.inscrit) }}</div>
                                    </div>
                                    <div class="mb-2">
                                        {{ form_widget(rechercheForm.pasInscrit, {'attr' : {'class': 'form-check-input'}}) }}
                                        <div class="form-label">{{ form_label(rechercheForm.pasInscrit) }}</div>
                                    </div>
                                    <div class="mb-2">
                                        {{ form_widget(rechercheForm.passees, {'attr' : {'class': 'form-check-input'}}) }}
                                        <div class="form-label">{{ form_label(rechercheForm.passees) }}</div>
                                    </div>
                                    <div class="ms-2 mt-4">
                                        <button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
                                    </div>
                                    {{ form_end(rechercheForm) }}
                                </div>
                            </div>
                        </div>
                        <!-- fin du contenaire formulaire -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container border mt-4 rounded my-custom-scrollbar-list-recherche">
        Nombre de sorties trouvées : {{ resultat.nbSorties }}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Cloture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for sortie in resultat.sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date }}</td>
                    <td>{{ sortie.dateLimiteInscription|date }}</td>
                    <td class="text-center">{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if (app.user in sortie.participants) %}
                            <div class="text-center">X</div>
                        {% else %}
                            {{ null }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('user_profilUtilisateur', {'id' : sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_detail',{'id': sortie.id}) }}">Détail</a>

                        {% if (sortie.etat.libelle == 'Ouverte') and (sortie.organisateur != app.user) %}
                            <button type="submit" class="btn btn-link"><a
                                        href="{{ path('sortie_inscription', {'id' : sortie.id}) }}">S'inscrire</a>
                            </button>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
