{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

<div class="container ">
    <div class="row justify-content-around mt-5 mb-5 col-12 col-sm-12 col-md-10 col-lg-10">
        <div class="col-2">
            <div class="card">
                {% if app.user %}
                    <img class="img-thumbnail" src="{{ asset('img/photosProfil/' ~ user.photoProfil) }}" alt="Photo de profil">
                {% else %}
                    <p>Pas de photo</p>
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <div class="card ">
                <h2 class="card-header text-center">{{ user.pseudo }}</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col">Prénom : </div><div class="col">{{ user.prenom }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Nom : </div><div class="col">{{ user.nom }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Prénom : </div>
                        {% if user.telephone %}
                            <div class="col">{{ user.telephone }}</div>
                        {% else %}
                            <div class="col">non renseigné</div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">Email : </div><div class="col">{{ user.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Ville de rattachement : </div><div class="col">{{ user.site.nom }}</div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-3 mt-4">
                    <button class="btn btn-secondary" onclick="goBack()">Retour</button>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="col-3 mt-4">
                        <a class="btn btn-secondary" href="#">Désactiver</a>
                    </div>
                    <div class="col-3 mt-4">
                        <a class="btn btn-secondary" href="#">Supprimer</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>



{% endblock %}



