<!-- Navbar for menu -->

<nav class="navbar navbar-light bg-light">
    <!-- Si un utilisateur est connecté -->
    {% if  app.user%}
        <div class="container-fluid">
            <div class="justify-content-start">
                    <a class="btn btn-outline-secondary me-2" href="{{ path('sortie_recherche') }}">Accueil</a>
                    <a class="btn btn-outline-secondary me-2" href="{{ path('sortie_create') }}">Nouvelle Sortie</a>
                    <a class="btn btn-outline-secondary me-2"href="{{ path('user_profil', {'id' : app.user.id}) }}">Mon profil</a>
                    <a class="btn btn-outline-secondary me-2"href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
            <!-- Si l'utilisateur est un ADMIN -->
            {% if is_granted("ROLE_ADMIN") %}
            <div class="justify-content-end me-3">
               <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Droits Administrateur
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Villes</a></li>
                        <li><a class="dropdown-item" href="#">Sites</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <p class="ms-3 me-3"> Ajouter un utilisateur :</p>
                        <li><a class="dropdown-item" href="{{ path('app_register') }}">Formulaire</a></li>
                        <li><a class="dropdown-item" href="#">Import par fichier</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
</nav>



